<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gengyuan Huang">
    <!-- <link rel="stylesheet" href="https://www.aghnu.me/static/font/classic_console_neue/font.css"> -->

    <title>心的铁片/WNFA Gallery</title>
</head>

<body>
    <div id="site-informative">
        <div class="nav">
            <button class="prompt"></button>
        </div>
        <div class="footer">
            <p>© WNFA 2022</p>
        </div>
    </div>

    <div id="site-interactive">
        <div class="lighting"></div>
        <div class="room">
            <div class="frame">
                <div class="bottom"></div>
                <div class="top"></div>
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <div class="gallery"></div>
        </div>
    </div>
</body>

</html>