body {
    margin: 0;
    // font-family: 'Classic Console Neue';
    font-family: "Qi Hei Subset CN", "Syne";
    background-color: #000;
    color: white;
}

p {
    margin: 0;
    line-height: 2em;
}

button {
    all: unset;
    cursor: pointer;
}