body {
    margin: 0;
    // font-family: 'Classic Console Neue';
    font-family: "Noto Sans SC Subset CN", "Noto Sans SC Subset US";
    background-color: black;
    color: white;
}

p {
    margin: 0;
    line-height: 1em;
}

button {
    all: unset;
    cursor: pointer;
}