@font-face {
    font-family: "Noto Sans SC Subset US";
    font-size: normal;
    font-weight: 400;
    src: url('../font/NotoSansSC-Regular-subset-US.woff2') format("woff2");
}

@font-face {
    font-family: "Noto Sans SC Subset CN";
    font-size: normal;
    font-weight: 400;
    src: url('../font/NotoSansSC-Regular-subset-CN.woff2') format("woff2");
}