@font-face {
  font-family: "Qi Hei Subset CN";
  font-size: normal;
  font-weight: 400;
  src: url("@static/font/QiHei-Subset-CN.woff2") format("woff2");
}

@font-face {
  font-family: "Syne";
  font-size: normal;
  font-weight: 400;
  src: url("@static/font/Syne-Regular.woff2") format("woff2");
}
