$layer-base-z-index: 1000;
$frame-size-w:       100vw;
$frame-size-h:       100vh;
$frame-size-d:       75vh;


@mixin fixedWholeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@mixin interactiveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#site-noscript {
    @include fixedWholeScreen();
    z-index: $layer-base-z-index + 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-informative {
    @include fixedWholeScreen();
    z-index: $layer-base-z-index + 2;

    #site-poster-detail-layer {
        @include fixedWholeScreen();
        display: flex;
        justify-content: center;
        align-items: center;
    
        .show {
            display: block;
            position: relative;
            width: 80%;
            height: 40%;
            object-fit: contain;
        }
    }

    #site-prompt {
        @include fixedWholeScreen();
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $layer-base-z-index + 3;
    }
}

#site-interactive {
    @include fixedWholeScreen();
    @include interactiveContainer();
    z-index: $layer-base-z-index;

    &.vertical {
        .room .frame .bottom {
            transform: rotateX(90deg) translateZ(calc(-#{$frame-size-h}/2)) rotateX(-25deg);
        }
    }


    .lighting {
        @include fixedWholeScreen();
        z-index: $layer-base-z-index + 1;
    }

    .shadowing {
        @include fixedWholeScreen();
        z-index: $layer-base-z-index + 1;
    }

    .room {
        @include interactiveContainer();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .frame {
            @include interactiveContainer();
            z-index: $layer-base-z-index - 1;

            .display {
                position: relative;
                z-index: $layer-base-z-index;
                .control {
                    position: absolute;
                    width: 100%;
                    top: 8.5%;

                    .buttons {
                        padding-top: 1em;
                    }
                }
                .texture {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: $layer-base-z-index + 2;
                }
            }

            .bottom {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                transform: rotateX(90deg) translateZ(calc(-#{$frame-size-h}/2)) rotateX(-20deg);
                transition: transform 0.5s;
            }



            .top {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                transform: rotateX(-90deg) translateZ(calc(-#{$frame-size-h}/2));
            }

            .left {
                position: absolute;
                width: $frame-size-d;
                height: $frame-size-h;
                transform: rotateY(90deg) translateZ(calc(-#{$frame-size-w}/2));
            }

            .right {
                position: absolute;
                width: $frame-size-d;
                height: $frame-size-h;
                transform: rotateY(-90deg) translateZ(calc(-#{$frame-size-w}/2));
            }


        }

        .gallery {
            @include interactiveContainer();
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateZ(calc(-#{$frame-size-d} / 4));

            .wall {
                position: absolute;
                top: 10%;
                width: 45%;
                height: 70%;
                transform-style: preserve-3d;

                .poster {
                    position: absolute;
                    transform-style: preserve-3d;
                }
            }
        }
    }
}