@use 'sass:math';

$layer-base-z-index: 1000;
$frame-size-w: 100vw;
$frame-size-h: 100vh;
$frame-size-d: 20em;

$bottom_tilt:       25deg;


@mixin fixedWholeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@mixin interactiveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#site-wall-text {
    @include fixedWholeScreen();

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
        text-align: center;
    }
}

#site-fps {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
}

#site-noscript {
    @include fixedWholeScreen();
    z-index: $layer-base-z-index + 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-informative {
    @include fixedWholeScreen();
    z-index: $layer-base-z-index + 2;

    #site-poster-detail-layer {
        @include fixedWholeScreen();
        display: flex;
        justify-content: center;
        align-items: center;

        .show {
            display: block;
            position: relative;
            width: 80%;
            height: 50%;
            object-fit: contain;
        }
    }

    #site-prompt {
        @include fixedWholeScreen();
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $layer-base-z-index + 3;
    }
}

#site-interactive {
    @include fixedWholeScreen();
    @include interactiveContainer();
    z-index: $layer-base-z-index;

    &.vertical {
        // .room .frame .bottom {
        //     transform: rotateX(90deg) translateZ(calc(-#{$frame-size-h}/2)) rotateX(-25deg);
        // }
    }


    .lighting {
        // @include fixedWholeScreen();
        position: relative;
        top: -10%;
        width: 20em;
        height: 20em;
        z-index: $layer-base-z-index + 1;
    }

    .shadowing {
        @include fixedWholeScreen();
        z-index: $layer-base-z-index + 1;
    }

    .room {
        @include interactiveContainer();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .frame {
            @include interactiveContainer();
            z-index: $layer-base-z-index - 1;

            .display {
                position: relative;
                z-index: $layer-base-z-index;

                .control {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .buttons {
                        padding-top: 1.25em;
                    }
                }

                .texture {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: $layer-base-z-index + 2;
                }
            }

            .bottom {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                height: calc(#{$frame-size-d} / 2 / #{math.sin(90deg - $bottom_tilt)} * 2);
                // height: calc(#{$frame-size-d} + 10em);
                transform: 
                    translateZ(calc(-#{$frame-size-d}/2 - 5.25vh)) 
                    rotateX(90deg) 
                    translateZ(calc(-#{$frame-size-h}/2)) 
                    rotateX(calc(-#{$bottom_tilt}))
                    translateZ(calc(#{$frame-size-d} / 2 * #{math.sin($bottom_tilt)} / #{math.sin(90deg - $bottom_tilt)} + 1.75vh));
            }



            .top {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                transform: translateZ(calc(-#{$frame-size-d}/2)) rotateX(-90deg) rotateZ(180deg) translateZ(calc(-#{$frame-size-h}/2)) ;
            }

            .left {
                position: absolute;
                width: $frame-size-h;
                height: $frame-size-d;
                transform: translateZ(calc(-#{$frame-size-d}/2)) rotateY(90deg)  rotateZ(90deg) translateZ(calc(-#{$frame-size-w}/2));
            }

            .right {
                position: absolute;
                width: $frame-size-h;
                height: $frame-size-d;
                transform: translateZ(calc(-#{$frame-size-d}/2)) rotateY(-90deg) translateZ(calc(-#{$frame-size-w}/2)) rotateZ(-90deg);
            }

            .back {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-h;
                transform: translateZ(calc(-#{$frame-size-d}/2)) translateZ(calc(-#{$frame-size-d}/2));
            }


        }

        .gallery {
            @include interactiveContainer();
            position: absolute;
            top: -10%;
            width: 100%;
            height: 100%;

            transform: translateZ(calc(-#{$frame-size-d}));

            .poster {
                position: absolute;
                transform-style: preserve-3d;
            }
        }
    }
}