$layer-base-z-index: 1000;
$frame-size-w:       100vw;
$frame-size-h:       100vh;
$frame-size-d:       100vh;


@mixin fixedWholeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@mixin interactiveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#site-informative {
    @include fixedWholeScreen();
    z-index: $layer-base-z-index + 2;

    .nav {
        position: absolute;
        right: 8%;
        bottom: 8%;
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

#site-interactive {
    @include fixedWholeScreen();
    @include interactiveContainer();
    z-index: $layer-base-z-index;

    .lighting {
        @include fixedWholeScreen();
        z-index: $layer-base-z-index + 1;
    }

    .room {
        @include interactiveContainer();
        
        .frame {
            @include interactiveContainer();
            z-index: $layer-base-z-index - 1;

            .bottom {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                transform: rotateX(90deg) translateZ(- $frame-size-h/2);
            }

            .top {
                position: absolute;
                width: $frame-size-w;
                height: $frame-size-d;
                transform: rotateX(-90deg) translateZ(- $frame-size-h/2);
            }

            .left {
                position: absolute;
                width: $frame-size-d;
                height: $frame-size-h;
                transform: rotateY(90deg) translateZ(- $frame-size-w/2);
            }

            .right {
                position: absolute;
                width: $frame-size-d;
                height: $frame-size-h;
                transform: rotateY(-90deg) translateZ(- $frame-size-w/2);
            }

            // .back {
            //     position: absolute;
            //     width: $frame-size-w;
            //     height: $frame-size-h;
            //     transform: translateZ(- $frame-size-d/2);
            // }
        }

        .gallery {
            @include interactiveContainer();

            .wall {
                position: absolute;
                width: 50vw;
                height: 80vh;
                transform-style: preserve-3d;

                .poster {
                    position: absolute;
                    transform-style: preserve-3d;
                }
            }
        }
    }
}