$site-interactive-size:     2vh;
$site-element-size:         2vh;

@mixin noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
}

#site-wall-text {
    color: rgb(225, 225, 225);
    opacity: 0.15;
    font-size: 1em;
    transition: font-size 0.5s, opacity 1s;

    &.focus {
        opacity: 1;
        font-size: 1.25em;
    }
}


#site-noscript {
    font-size: $site-element-size;
    pointer-events: all;
    p {
        color: rgb(225, 225, 225);
        text-align: center;
    }
}

#site-fps {
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 0.75);
    color:rgba(80, 80, 80, 0.75);
    .prompt {
        line-height: 1em;
        margin: 0.25em;
    }
}

#site-informative {
    font-size: $site-element-size;
    pointer-events: none;

    #site-poster-detail-layer {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.5s;
        background-color: rgba(0,0,0,0.75);

        &.show {
            opacity: 1;
            pointer-events: all;
        }

    }

    #site-prompt {
        pointer-events: all;
        background-color: black;
        p {
            color: rgb(225, 225, 225);
            text-align: center;
            font-size: 0.8em;
        }
    }
}

#site-interactive {
    @include noselect();
    font-size: $site-interactive-size;
    perspective: 100em;

    &.vertical {
        .room {
            .frame .display .control {
                font-size: 1em;
            }
            
            .gallery .wall .poster {
                font-size: 0.75em;
            }
        }


        #site-wall-text {
            font-size: 0.75em;
        
            &.focus {
                opacity: 1;
                font-size: 1em;
            }
        }
    }

    &.lightup {
        .lighting {
            opacity: 1;
        }

        .shadowing {
            opacity: 0;
        }

        .room .frame .surface {
            background-color: #999999;
        }
    }

    .shadowing {
        pointer-events: none;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.2s;
    }

    .lighting {
        pointer-events: none;
        opacity: 0;
        background-image: radial-gradient(rgba(200, 200, 200, 0.25), rgba(0, 0, 0, 0) 50%);
        filter: blur(1em);
        transition: opacity 0.2s;
    }

    .room {
        pointer-events: none;

        .frame {
            pointer-events: none;

            .surface {
                transition: background-color 1s;
                background-color: #555555;
                background-image: radial-gradient(rgba(80, 80, 80, 0.5), #000 95%);
                filter: blur(1em);                
            }

            .display {
                font-size: $site-element-size;
                p {
                    line-height: 2em;
                }
                .control {
                    pointer-events: all;
                    color: rgb(225, 225, 225);
                    text-align: center;
                    font-size: 1.25em;
                    white-space: nowrap;
                    transition: font-size 0.5s;

                    .buttons {
                        pointer-events: all;
                        display: flex;
                        justify-content: center;
                        gap: 1em;
                        button {
                            width: 1.7em;
                            height: 1.7em;
                            border-radius: 100%;
                            background-color: rgb(58, 58, 58);
                            transition: opacity 0.25s;
                            box-shadow: 0 0.25em 0.5em rgba(50, 50, 50, 0.75);
                            position: relative;

                            &.pressed {
                                opacity: 0.5;
                                top: 0.125em;
                                box-shadow: none;
                            }
                        }

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        #site-button-info {
                            background-color: rgb(225, 225, 225);
                        }
                    }
                }

                .texture {
                    background-image: url("../img/noise_screen.png");
                    background-size: 30em;
                    pointer-events: none;
                }
            }
        }

        .gallery {
            pointer-events: none;
                
            .poster {
                pointer-events: none;
                display: block;
                object-fit: contain;
                transition: opacity 0.5s, font-size 0.5s;
                
                opacity: 0;

                &.show {
                    opacity: 0.9;
                    pointer-events: all;
                }

                &.focus {
                    opacity: 1;
                    font-size: 1.25em;
                    cursor: pointer;
                }

                &.fade {
                    opacity: 0.2;
                    pointer-events: none;
                    font-size: 00.75em;
                }
            }
        }
    }


}




