$site-interactive-size:     min(2vh, 2.25vw);
$site-element-size:         min(2vh, 2.25vw);

@mixin noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
}



#site-preloading-prompt {
    @keyframes text-stretch {
        0% {
            letter-spacing: 0.85em;
        }
    
        50% {
            letter-spacing: 1em;
        }
    
        100% {
            letter-spacing: 0.85em;
        }
    }
    
    @keyframes enter-screen-background-cycle {
        0% {
            background-color: rgb(0, 0, 10, 0.9);
        }

        // 25% {
        //     background-color: rgba(120, 120, 140, 0.65);
            
        // }

        50% {
            background-color: rgba(0, 0, 10, 0.75);
            
        }

        100% {
            background-color: rgb(0, 0, 10, 0.9);
        }
    }

    font-size: $site-element-size;
    // background-color: rgb(120, 120, 140);
    // background-image: radial-gradient(at 50% 40%, rgba(50, 50, 50, 0.25), #000 95%);
    pointer-events: all;
    white-space: nowrap;

    animation: enter-screen-background-cycle 10s infinite;
    transition: opacity 2s;
    cursor: pointer;

    .title {
        @include noselect();
        color: #fff0c7;
        font-size: 1.25em;     
        letter-spacing: 0.85em;   
    }

    .button {
        @include noselect();
        
        letter-spacing: 0.85em; 
        font-size: 0.85em;
        color: #fff0c7;
        opacity: 0.75;

        animation: text-stretch 1.5s infinite;
    }

}


#site-wall-text {
    color: rgb(225, 225, 225);
    opacity: 0.15;
    font-size: 0.9em;
    transition: font-size 0.5s, opacity 1s;
    p {
        line-height: 2.25em;
    }
    &.focus {
        opacity: 1;
        font-size: 1.1em;
    }
}



#site-noscript {
    font-size: $site-element-size;
    pointer-events: all;
    p {
        color: rgb(225, 225, 225);
        text-align: center;
        font-size: 1.1em;
    }
}

#site-fps {
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 0.75);
    color:rgba(80, 80, 80, 0.75);
    .prompt {
        line-height: 1em;
        margin: 0.25em;
    }
}

#site-informative {
    font-size: $site-element-size;
    pointer-events: none;

    #site-poster-detail-layer {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.5s;
        background-color: rgba(0,0,0,0.75);

        &.show {
            opacity: 1;
            pointer-events: all;
        }

    }

    #site-prompt {
        pointer-events: all;
        background-color: black;
        p {
            color: rgb(225, 225, 225);
            text-align: center;
            font-size: 1.1em;
        }
    }
}

#site-interactive {
    @include noselect();
    font-size: $site-interactive-size;
    perspective: 100em;
    
    &.loaded {
        & + #site-preloading-prompt {
            pointer-events: none;
            opacity: 0;

            .button {
                animation-play-state: paused;
            }
        }
        
        .room .frame {
            visibility: visible;
        }
    }



    // &.vertical {
    //     .room {
    //         // .frame .display .control {
    //         //     font-size: 1em;
    //         // }
            
    //         // .gallery .wall .poster {
    //         //     font-size: 0.75em;
    //         // }
    //     }


    //     // #site-wall-text {
    //     //     font-size: 0.75em;
        
    //     //     &.focus {
    //     //         opacity: 1;
    //     //         font-size: 1em;
    //     //     }
    //     // }
    // }

    &.lightup {
        .lighting {
            opacity: 1;

            &.hide {
                opacity: 0;
            }
        }

        .shadowing {
            opacity: 0;
        }

        .room .frame .surface {
            background-color: rgb(120, 120, 130);
        }
    }

    .shadowing {
        pointer-events: none;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.2s;
    }

    .lighting {
        pointer-events: none;
        opacity: 0;
        background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 75%);
        filter: blur(1em);
        transition: opacity 1s;
    }

    .room {
        pointer-events: none;
        

        .frame {
            pointer-events: none;
            visibility: hidden;

            .surface {
                transition: background-color 1s;
                background-color: #444444;
                background-image: radial-gradient(at 50% 85%, rgba(50, 50, 50, 0.25), #000 95%);
                filter: blur(1em);                
            }

            .display {
                font-size: $site-element-size;
                .control {
                    pointer-events: all;
                    color: rgb(225, 225, 225);
                    text-align: center;
                    font-size: 1.2em;
                    white-space: nowrap;
                    // transition: font-size 0.5s;
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    p {
                        line-height: 1em;
                    }

                    .first,
                    .second,
                    .third {
                        letter-spacing: 0.85em;
                    }

                    .first {
                        font-size: 0.575em;
                    }

                    .second {
                        font-size: 0.725em;
                    }

                    .third {
                        font-size: 1em;
                    }

                    .buttons {
                        pointer-events: all;
                        display: flex;
                        justify-content: center;
                        gap: 2.5em;
                        button {
                            width: 2em;
                            height: 2em;
                            border-radius: 100%;
                            background-color: rgb(50, 50, 60);
                            transition: opacity 0.25s;
                            box-shadow: 0 0.35em 0.5em rgba(60, 60, 60, 0.8);
                            position: relative;

                            &.pressed {
                                opacity: 0.75;
                                top: 0.125em;
                                box-shadow: none;
                            }
                        }

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        #site-button-info {
                            background-color: rgb(200, 200, 200);
                        }
                    }
                }

                .texture {
                    background-image: url("../img/noise_screen.png");
                    background-size: 30em;
                    pointer-events: none;
                }
            }
        }

        .gallery {
            pointer-events: none;
                
            .poster {
                pointer-events: none;
                display: block;
                object-fit: contain;
                transition: opacity 0.5s, font-size 0.5s;
                
                opacity: 0;

                &.mockup {
                    background-color: white;
                }

                &.show {
                    opacity: 0.6;
                    pointer-events: all;
                }

                &.focus {
                    opacity: 1;
                    font-size: 1.1em;
                    cursor: pointer;
                }

                &.fade {
                    opacity: 0.2;
                    pointer-events: none;
                    font-size: 0.9em;
                }
            }
        }
    }


}




